@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-sans: "Geist", system-ui, sans-serif;
  --font-wwaf: "wwaf", sans-serif;
}
@font-face {
  font-family: "wwaf";
  font-style: normal;
  font-display: swap;
  src: url("~/assets/font/Whenweallfallasleep-Regular.ttf") format("truetype");
}

.selected-style {
  ::selection {
    background-color: white;
    color: black;
  }
}
::selection {
  color: white;
  background-color: black;
}
* {
  scrollbar-width: thin;
  scrollbar-color: white black;
}
