@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-sans: "Geist", system-ui, sans-serif;
  --font-wwaf: "wwaf", sans-serif;
}
@font-face {
  font-family: "wwaf";
  font-style: normal;
  font-display: swap;
  src: url("~/assets/font/Whenweallfallasleep-Regular.ttf") format("truetype");
}

::selection {
  color: white;
  background-color: var(--color-primary);
}
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) black;
}
